<div class="big-chart-container">
    <div class="big-chart-header">
        <h3>Net Sales</h3>
        <div class="form-group">
            <div class="period">
                <span>Period 3</span>
                <div class="period-arrows">
                    <i class="material-icons">arrow_drop_up</i>
                    <i class="material-icons">arrow_drop_down</i>
                </div>
            </div>
            <div class="picker">
                <i class="material-icons">date_range</i>
                <span>01 Jan 2020 - 31 Jan 2020</span>
            </div>
        </div>
    </div>
    <div class="big-chart-body row">
        <div class="big-chart-body-left">
            <p style="font-size: 12px">This Month</p>
            <h3>$2,454.35</h3>
            <div class="percentage">
                <span>+ 0.2%</span>
                <span>From previous period</span>
            </div>

            <button class="details-btn btn-outline">View Details</button>
            <p style="font-size: 12px">Last Month</p>
            <h5>$2,291.04</h5>
        </div>

        <div class="big-chart-body-right">
            <app-line-chart></app-line-chart>
        </div>
    </div>
</div>